@import '_variables';

.u-box {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  background-color: var(--color-white);

  /*&:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear:both;
  }*/
}

.u-box-center {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.u-box-title {
  padding: 10px 12px;
  border-bottom: 1px solid var(--color-gray);
  border-radius: 3px 3px 0 0;
  background-color: #f6f7f8;
  color: #141823;
  font-weight: bold;
  line-height: 19px;

  h3 {
    margin: 0;
    padding: 0;
    color: #141823;
    font-size: 14px;
  }
}

.u-box-inner {
  padding: 11px 12px;
}