@import '_variables';

@define-mixin triangle {
  &:before {
    position: absolute;
    display: inline-block;
    top: -11px;
    left: 12px;
    border-bottom: 11px solid var(--color-gray);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
  }

  &:after {
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 12px;
    border-bottom: 11px solid var(--color-white);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
  }
}

.u-dropdown {
  display: inline-block;
  position: relative;
  z-index: 1000;

  .items {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    list-style: none;
    z-index: 1000;

    @mixin triangle;

    li {
      padding: 7px 15px;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-gray);
      }
    }
  }

  &.is-open .items {
    display: inline-block;
    top: 45px;
    left: -2px;
  }
}
