.f-cb {clear: both !important;}
.f-fl {float: left !important;}
.f-fr {float: right !important;}
.f-tr {text-align: right !important;}
.f-tl {text-align: left !important;}
.f-tc {text-align: center !important;}
.f-inl {display: inline !important;}
.f-blk {display: block !important;}

.f-clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear:both;
  }
}
