@import '_variables';

.u-nav {
  background-color: var(--color-white);

  a {
    display: inline-block;

    &.active,
    &.is-active {
      font-weight: bold;
    }
  }
}

.u-nav-x {
  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.u-nav-y {
  margin-bottom: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 3px;

  a {
    display: block;
    padding: 12px 14px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-light-gray);
    }
  }

  .title {
    font-weight: bold;
    border-bottom: 1px solid var(--color-gray) !important;
  }
}
