@import '_variables';

.u-slat {
  position: relative;
  /*padding-left: 90px;*/

  .img,
  .right {
    display: inline-block;
    vertical-align: top;
  }

  .right {
    margin-left: 8px;
  }

/*  .title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
*/
}