:root {
  --base-font-size: 14;
  --base-line-height: 1.5;
  --leading: calc(var(--base-line-height) * 1rem);
  --scale: 1.414;

  --color-white: #ffffff;
  --color-blue: #1385e5;
  --color-green: #27ae60;
  --color-red: #e74c3c;
  --color-yellow: #f1c40f;
  --color-light-gray: #eaeaea;
  --color-gray: #dfe0e4;
  --color-black: #333333;

  --container-width: 940px;
  --gutter-width: 20px;
  --columns: 12;

  --body-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --body-font-color: #333333;
  --code-font-family: Menlo;
  --link-color: #1385e5;

  --button-border-radius: 3px;

  --color-white: #ffffff;
  --card-leadtext-color: #dddddd;
  --card-info-color: #cccccc;
}
