@import '_variables';

.u-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;

  img {
    max-width: 100%;
  }

  &.is-round,
  &.is-round img {
    border-radius: 4px;
  }

  &.is-circlr,
  &.is-circle img {
    border-radius: 50%;
  }
}
