@import '_variables';

.u-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  vertical-align: bottom;

  img {
    max-width: 100%;
  }

  &.is-round,
  &.is-round img {
    border-radius: 4px;
  }

  &.is-circle,
  &.is-circle img {
    border-radius: 50%;
  }
}

.u-avatar-lg {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 42px;

  &.is-round,
  &.is-round img {
    border-radius: 7px;
  }
}
