@import '_variables';

.u-box {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
  padding: 11px 12px;
  border: 1px solid var(--color-gray);
  border-radius: 3px;
  background-color: var(--color-white);
}