@import '_variables';

.u-dialog-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;

  &.is-open {
    display: block;
  }
}

.u-dialog-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  background: black;
  opacity: 0.4;
}

.u-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 640px;
  height: 180px;
  background-color: var(--color-white);
  border-radius: 5px;
  z-index: 2000;

  .header {
  }

  .content {
    padding: 30px;
    font-size: 20px;
  }

  .footer {
  }
}