@import '_variables';

:root {
  --tabs-nav-height: 34px;
}

.u-tabs {
  position: relative;
  background-color: #f5f2f0;

  .tabs-nav {
    padding: 7px 6px;
    overflow: hidden;
  }

  &.is-right {
    .tabs-nav {
      text-align: right;
    }
  }

  .tab {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue);
      color: #fff;
    }

    &.is-active {
      background-color: var(--color-blue);
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .tabs-contents {
    padding: 0 10px 10px 10px;
  }

  .tabs-content {
    height: 100%;
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.u-tabs-fixed {
  height: 100%;

  .tabs-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--tabs-nav-height);
  }

  .tabs-contents {
    position: absolute;
    top: var(--tabs-nav-height);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  .tabs-content {
    height: 100%;
  }
}
