<Avatar email="wzuoadjusted@gmail.com"/>
<Avatar email="wzuoadjusted@gmail.com" round/>
<Avatar email="wzuoadjusted@gmail.com" circle/>
<Avatar email="wzuoadjusted@gmail.com" size="lg"/>
<Avatar email="wzuoadjusted@gmail.com" size="lg" round/>
<Avatar email="wzuoadjusted@gmail.com" size="lg" circle/>